<a href="https://colab.research.google.com/github/NGAREJOEL47/python/blob/main/training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [ ]:
import pandas as np

In [ ]:
r=b"gtr"
print(type(r))

<class 'bytes'>

In [ ]:
import random
print(random.randrange(12,90))

19

In [ ]:
y=6
txt="today is your  th \bblas"
print(txt)

today is your  th blas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# New Section

In [ ]:
num1=int(input("the first number is:"))
num2=int(input("the second number is:"))
operation=(input("enter operator\"*,+,-,/\":"))

def myfunc():
  if operation=='+':
   ans=(num1+num2)
  elif operation=='-':
   ans=(num1-num2)
  elif operation=='*':
   ans=(num1*num2)
  elif operation=='/':
    if num2!=0:
      ans=(num1/num2)
    else:
      print("error")
  else:
       print("invalid operator")
  print(ans)
myfunc()

the first number is:2
the second number is:9
enter operator"*,+,-,/":/
0.2222222222222222

In [ ]:

student=str(input('Are you a student? yes/no: ').lower())
age=int(input('enter your age: '))

def price():
    if age<=10:
      if student=="yes":
       price=100
      else:
       price=150
    elif age<=18:
      if student=="yes":
       price=150
      else:
       price=200
    elif age<=35:
      if student=="yes":
       price=200
      else:
       price=250
    elif age>35:
      if student=="yes":
       price=250
      else:
       price=300
    else:
      print("invalid choice")
    return price
price_to_pay=price()
print(f'PLEASE PAY ksh \033[1;35m{price_to_pay}\033[0m below')

correct_price=int(input("enter amount: "))

if correct_price==price_to_pay:
  print("successful completed payment")
elif correct_price<price_to_pay:
  print(f"insuficient payment, please add {price_to_pay-correct_price}")
elif correct_price>price_to_pay:
  print(f"excess payment, please enter {price_to_pay}")
else:
  print("invalid choice")

Are you a student? yes/no: 54
enter your age: 54
PLEASE PAY ksh 300 below
enter amount: 150
insuficient payment, please add 150

In [ ]:
student = str(input('Are you a student? yes/no: ').lower())
age = int(input('Enter your age: '))

def calculate_price():
    if 1 <= age <= 10:
        return 100 if student == "yes" else 150
    elif 10 < age <= 18:
        return 150 if student == "yes" else 200
    elif 18 < age <= 35:
        return 200 if student == "yes" else 250
    elif age>35:
        return 250 if student == "yes" else 300
    else:
        print("Invalid choice")

price_to_pay = calculate_price()
print(f'PLEASE PAY ksh \033[1;35m{price_to_pay}\033[0m below')

correct_price = int(input("Enter amount: "))

if correct_price == price_to_pay:
    print("Successfully completed payment")
elif correct_price < price_to_pay:
    print(f"Insufficient payment, please add ksh {price_to_pay - correct_price}")
elif correct_price > price_to_pay:
    print(f"Excess payment, please enter exactly ksh {price_to_pay}")

Are you a student? yes/no: yes
Enter your age: 54
PLEASE PAY ksh 250 below
Enter amount: 100
Insufficient payment, please add ksh 150

In [ ]:
n=8
sum=0
count=2

while count<=n:
 count=count+2
 sum=sum+count
print(sum)

for i in range(5):
    print(i)

28
0
1
2
3
4

In [ ]:
##### tuples
numbers=(1,2,3,4,5,6,7,8,9)
num=list(numbers)
num[0]="yes"
tuple(num)

('yes', 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
main_tuple_elem=((1,2,3),(4,5,6),(7,8,9))
print(main_tuple_elem[1][2])

6

In [ ]:
numbers.index(3)

2

In [ ]:
for sub_tuple in main_tuple_elem:
  for elem in sub_tuple:
    print(elem,end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [6]:
x={1,2,3,3,4,5,6}
y={3,4,5,6,7,8,9}
n={3,4,5,6}
m={7,8,9,10}
print(x)
print(y)
print(n)
print(m)

{1, 2, 3, 4, 5, 6}
{3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6}
{8, 9, 10, 7}

In [64]:
x=(1,2,3,3,4,5,6)
y=(3,4,5,6,7,8,9)
n=(3,4,5,6)
m=(7,8,9,10)
a=set(x)
b=set(y)
c=set(n)
d=set(m)

# remove elements from sets
a.remove(4)
print(a)

{1, 2, 3, 5, 6}

In [ ]:
a.discard(4)
print(a)

In [65]:

a.discard(3)
print(a)

{1, 2, 5, 6}

In [66]:

a.pop()
print(a)

{2, 5, 6}

In [75]:

a.clear()
print(a)

set()

In [68]:

# add an element to set

a.update((1,2,3,4,5))
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6}
{3, 4, 5, 6}

In [74]:

a.add(6)
print(a)

{3, 4, 5, 6}

In [82]:

x=(1,2,3,3,4,5,6)
y=(3,4,5,6,7,8,9)
n=(3,4,5,6)
m=(7,8,9,10)
a=set(x)
b=set(y)
c=set(n)
d=set(m)

# sets operations
##### union(|)
j=c.union(d)
print(j)

{3, 4, 5, 6, 7, 8, 9, 10}

In [83]:

k=c|d
print(k)

{3, 4, 5, 6, 7, 8, 9, 10}

In [84]:

#### intersection

h=a.intersection(b)
print(h)

{3, 4, 5, 6}

In [85]:
#### intersection

h=a&b
print(h)

{3, 4, 5, 6}

In [86]:
#### intersection update
a.intersection_update(b)
print(a)

{3, 4, 5, 6}

In [90]:
#### difference
x=(1,2,3,3,4,5,6)
y=(3,4,5,6,7,8,9)
n=(3,4,5,6)
m=(7,8,9,10)
a=set(x)
b=set(y)
c=set(n)
d=set(m)

g=a.difference(b)
print(g)

{1, 2}

In [26]:
f="i have two special children born by a beautiful woman"
print(f)

s=f.split()
print(set(s))

i have two special children born by a beautiful woman
{'by', 'i', 'woman', 'beautiful', 'have', 'children', 'two', 'a', 'born', 'special'}